---
import Layout from '../../layouts/Layout.astro';
import { recipes } from '../../data/recipes';
---

<Layout>
  <main class="max-w-6xl mx-auto p-4 mt-20">
    <h1 class="text-4xl font-bold mb-6">Recipes</h1>
    <p class="mb-6 text-gray-700">Explore my favorite recipes below:</p>
    <ul class="space-y-6">
      {recipes.map((recipe) => (
        <li class="border-b border-gray-300 pb-4">
          <a 
            href={`/recipes/${recipe.slug}`} 
            class="block text-2xl font-semibold text-pink-600 hover:text-pink-700 hover:underline"
          >
            {recipe.title}
          </a>
          <p class="text-gray-600">{recipe.description}</p>
        </li>
      ))}
    </ul>
  </main>
</Layout>
